<li class="category">DEVELOPMENT</li>
<li><a style="cursor:pointer;color:#3c3c3c">User Guide</a>
    <ul>
        <li><a href="{{ site.js }}user-guide/" style="cursor:pointer;color:#3c3c3c">Get Started</a></li>
    </ul>
</li>
<li><a style="cursor:pointer;color:#3c3c3c">API Reference</a>
    <ul>
        <li><a href="{{ site.js_api }}capture-vision-router/capture-vision-router.html" class="otherLinkColour">CaptureVisionRouter</a>
            <ul>
                <li><a href="{{ site.js_api }}capture-vision-router/instantiate.html"  class="otherLinkColour">Instantiation</a></li>
                <li><a href="{{ site.js_api }}capture-vision-router/single-file-processing.html"  class="otherLinkColour">Single-File Processing</a></li>
                <li><a href="{{ site.js_api }}capture-vision-router/multiple-file-processing.html"  class="otherLinkColour">Multiple-File Processing</a></li>
                <li><a href="{{ site.js_api }}capture-vision-router/settings.html"  class="otherLinkColour">Settings</a></li>
                <li><a href="{{ site.js_api }}capture-vision-router/intermediate-result.html"  class="otherLinkColour">Intermediate Result</a></li>
                <li><a href="{{ site.js_api }}capture-vision-router/auxiliary-methods.html"  class="otherLinkColour">Auxiliary Methods</a></li>
            </ul>
        </li>
        <li><a>Input</a>
            <ul>
                <li><a href="{{ site.js_api }}core/basic-structures/image-source-adapter.html" class="otherLinkColour">ImageSourceAdapter</a></li>
            </ul>
        </li>
        <li><a>Final Results</a>
            <ul>                
                <li><a href="{{ site.js_api }}core/basic-structures/captured-result-receiver.html" class="otherLinkColour">CapturedResultReceiver</a></li>
                <li><a href="{{ site.js_api }}core/basic-structures/captured-result-item.html" class="otherLinkColour">CapturedResultItem</a></li>
                <li><a href="{{ site.js_api }}core/basic-structures/captured-result.html" class="otherLinkColour">CapturedResult</a></li>
                <li><a href="{{ site.js_api }}core/basic-structures/captured-result-array.html" class="otherLinkColour">CapturedResultArray</a></li>
                <li><a href="{{ site.js_api }}core/basic-structures/raw-image-result-item.html"  class="otherLinkColour">RawImageResultItem</a></li>
                <!-- <li><a href="{{ site.dbr_js_api }}barcode-result-item.html" class="otherLinkColour">CBarcodeResultItem</a></li>
                <li><a href="{{ site.dbr_js_api }}decoded-barcodes-result.html" class="otherLinkColour">CDecodedBarcodesResult</a></li>
                <li><a href="{{ site.dbr_js_api }}decoded-barcodes-result-array.html" class="otherLinkColour">CDecodedBarcodesResultArray</a></li>
                <li><a href="{{ site.dlr_js_api }}text-line-result-item.html" class="otherLinkColour">CTextLineResultItem</a></li>
                <li><a href="{{ site.dlr_js_api }}recognized-text-lines-result.html" class="otherLinkColour">CRecognizedTextLinesResult</a></li>
                <li><a href="{{ site.dlr_js_api }}recognized-text-lines-result-array.html" class="otherLinkColour">CRecognizedTextLinesResultArray</a></li> -->
                <li><a href="{{ site.ddn_js_api }}detected-quad-result-item.html" class="otherLinkColour">DetectedQuadResultItem</a></li>
                <li><a href="{{ site.ddn_js_api }}detected-quads-result.html" class="otherLinkColour">DetectedQuadsResult</a></li>
                <li><a href="{{ site.ddn_js_api }}detected-quads-result-array.html" class="otherLinkColour">DetectedQuadsResultArray</a></li>
                <li><a href="{{ site.ddn_js_api }}normalized-image-result-item.html" class="otherLinkColour">NormalizedImageResultItem</a></li>
                <li><a href="{{ site.ddn_js_api }}normalized-images-result.html" class="otherLinkColour">NormalizedImagesResult</a></li>
                <li><a href="{{ site.ddn_js_api }}normalized-images-result-array.html" class="otherLinkColour">NormalizedImagesResultArray</a></li>
                <li><a href="{{ site.dcp_js_api }}parsed-result-item.html" class="otherLinkColour">ParsedResultItem</a></li>
                <!-- <li><a href="{{ site.dcp_js_api }}parsed-result.html" class="otherLinkColour">CParsedResult</a></li>
                <li><a href="{{ site.dlr_js_api }}character-result.html" class="otherLinkColour">CCharacterResult</a></li> -->
            </ul>
        </li>
        <!-- <li><a>Final Results Filters</a>
            <ul>                
                <li><a href="{{ site.js_api }}core/basic-structures/captured-result-filter.html" class="otherLinkColour">CapturedResultFilter</a></li>
                <li><a href="{{ site.js_api }}utility/multi-frame-result-cross-filter.html" class="otherLinkColour">CMultiFrameResultCrossFilter</a></li>
            </ul>
        </li> -->
        <li><a>Intermediate Results</a>
            <ul>                
                <li><a href="{{ site.js_api }}core/intermediate-results/intermediate-result-manager.html" class="otherLinkColour">IntermediateResultManager</a></li>
                <li><a href="{{ site.js_api }}core/intermediate-results/intermediate-result-receiver.html" class="otherLinkColour">IntermediateResultReceiver</a></li>
                <li><a href="{{ site.js_api }}core/structs/intermediate-result-extra-info.html" class="otherLinkColour">IntermediateResultExtraInfo</a></li>
                <li><a href="{{ site.js_api }}core/intermediate-results/observation-parameters.html" class="otherLinkColour">ObservationParameters</a></li>
                <li><a href="{{ site.js_api }}core/intermediate-results/intermediate-result.html" class="otherLinkColour">IntermediateResult</a></li>
                <li><a href="{{ site.js_api }}core/intermediate-results/intermediate-result-unit.html" class="otherLinkColour">IntermediateResultUnit</a></li>
                <li><a href="{{ site.js_api }}core/intermediate-results/predetected-regions-unit.html" class="otherLinkColour">PredetectedRegionsUnit</a></li>                
                <!-- <li><a href="{{ site.dbr_js_api }}localized-barcodes-unit.html" class="otherLinkColour">LocalizedBarcodesUnit</a></li>
                <li><a href="{{ site.dbr_js_api }}decoded-barcodes-unit.html" class="otherLinkColour">DecodedBarcodesUnit</a></li>
                <li><a href="{{ site.dlr_js_api }}localized-text-lines-unit.html" class="otherLinkColour">LocalizedTextLinesUnit</a></li>
                <li><a href="{{ site.dlr_js_api }}recognized-text-lines-unit.html" class="otherLinkColour">RecognizedTextLinesUnit</a></li> -->
                <li><a href="{{ site.ddn_js_api }}detected-quads-unit.html" class="otherLinkColour">DetectedQuadsUnit</a></li>
                <li><a href="{{ site.ddn_js_api }}normalized-image-unit.html" class="otherLinkColour">NormalizedImageUnit</a></li>
                <li><a href="{{ site.js_api }}core/intermediate-results/binary-image-unit.html" class="otherLinkColour">BinaryImageUnit</a></li>
                <li><a href="{{ site.js_api }}core/intermediate-results/colour-image-unit.html" class="otherLinkColour">ColourImageUnit</a></li>
                <li><a href="{{ site.js_api }}core/intermediate-results/contours-unit.html" class="otherLinkColour">ContoursUnit</a></li>
                <li><a href="{{ site.js_api }}core/intermediate-results/enhanced-grayscale-image-unit.html" class="otherLinkColour">EnhancedGrayscaleImageUnit</a></li>
                <li><a href="{{ site.js_api }}core/intermediate-results/grayscale-image-unit.html" class="otherLinkColour">GrayscaleImageUnit</a></li>
                <li><a href="{{ site.js_api }}core/intermediate-results/line-segments-unit.html" class="otherLinkColour">LineSegmentsUnit</a></li>
                <li><a href="{{ site.js_api }}core/intermediate-results/scaled-down-colour-image-unit.html" class="otherLinkColour">ScaledDownColourImageUnit</a></li>
                <li><a href="{{ site.js_api }}core/intermediate-results/text-removed-binary-image-unit.html" class="otherLinkColour">TextRemovedBinaryImageUnit</a></li>
                <li><a href="{{ site.js_api }}core/intermediate-results/text-zones-unit.html" class="otherLinkColour">TextZonesUnit</a></li>
                <li><a href="{{ site.js_api }}core/intermediate-results/texture-detection-result-unit.html" class="otherLinkColour">TextureDetectionResultUnit</a></li>
                <li><a href="{{ site.js_api }}core/intermediate-results/texture-removed-binary-image-unit.html" class="otherLinkColour">TextureRemovedBinaryImageUnit</a></li>
                <li><a href="{{ site.js_api }}core/intermediate-results/texture-removed-grayscale-image-unit.html" class="otherLinkColour">TextureRemovedGrayscaleImageUnit</a></li>
                <li><a href="{{ site.js_api }}core/intermediate-results/transformed-grayscale-image-unit.html" class="otherLinkColour">TransformedGrayscaleImageUnit</a></li>
                <!-- <li><a href="{{ site.dbr_js_api }}candidate-barcode-zones-unit.html" class="otherLinkColour">CandidateBarcodeZonesUnit</a></li>
                <li><a href="{{ site.dbr_js_api }}complemented-barcode-image-unit.html" class="otherLinkColour">ComplementedBarcodeImageUnit</a></li>
                <li><a href="{{ site.dbr_js_api }}deformation-resisted-barcode-image-unit.html" class="otherLinkColour">DeformationResistedBarcodeImageUnit</a></li>
                <li><a href="{{ site.dbr_js_api }}scaled-up-barcode-image-unit.html" class="otherLinkColour">ScaledUpBarcodeImageUnit</a></li> -->
                <li><a href="{{ site.ddn_js_api }}candidate-quad-edges-unit.html" class="otherLinkColour">CandidateQuadEdgesUnit</a></li>
                <li><a href="{{ site.ddn_js_api }}corners-unit.html" class="otherLinkColour">CornersUnit</a></li>
                <li><a href="{{ site.ddn_js_api }}long-lines-unit.html" class="otherLinkColour">LongLinesUnit</a></li>
                <li><a href="{{ site.js_api }}core/intermediate-results/region-object-element.html" class="otherLinkColour">RegionObjectElement</a></li>
                <li><a href="{{ site.js_api }}core/intermediate-results/predetected-region-element.html" class="otherLinkColour">PredetectedRegionElement</a></li>
                <!-- <li><a href="{{ site.dbr_js_api }}localized-barcode-element.html" class="otherLinkColour">LocalizedBarcodesElement</a></li>
                <li><a href="{{ site.dbr_js_api }}decoded-barcode-element.html" class="otherLinkColour">DecodedBarcodeElement</a></li>
                <li><a href="{{ site.dlr_js_api }}localized-text-line-element.html" class="otherLinkColour">LocalizedTextLineElement</a></li>
                <li><a href="{{ site.dlr_js_api }}recognized-text-line-element.html" class="otherLinkColour">RecognizedTextLineElement</a></li> -->
                <li><a href="{{ site.ddn_js_api }}detected-quad-element.html" class="otherLinkColour">DetectedQuadElement</a></li>
                <li><a href="{{ site.ddn_js_api }}normalized-image-element.html" class="otherLinkColour">NormalizedImageElement</a></li>                
                <!-- <li><a href="{{ site.dbr_js_api }}extended-barcode-result.html" class="otherLinkColour">ExtendedBarcodeResult</a></li> -->
            </ul>
        </li>
        <!-- <li><a>Detailed Barcode Results</a>
            <ul>
                <li><a href="{{ site.dbr_js_api }}aztec-details.html" class="otherLinkColour">AztecDetails</a></li>
                <li><a href="{{ site.dbr_js_api }}barcode-details.html" class="otherLinkColour">BarcodeDetails</a></li>
                <li><a href="{{ site.dbr_js_api }}datamatrix-details.html" class="otherLinkColour">DataMatrixDetails</a></li>
                <li><a href="{{ site.dbr_js_api }}oned-code-details.html" class="otherLinkColour">OneDCodeDetails</a></li>
                <li><a href="{{ site.dbr_js_api }}pdf417-details.html" class="otherLinkColour">PDF417Details</a></li>
                <li><a href="{{ site.dbr_js_api }}qr-code-details.html" class="otherLinkColour">QRCodeDetails</a></li>
            </ul>
        </li> -->
        <li><a>Settings</a>
            <ul>
                <li><a href="{{ site.js_api }}capture-vision-router/structs/simplified-capture-vision-settings.html"  class="otherLinkColour">SimplifiedCaptureVisionSettings</a></li>
                <!-- <li><a href="{{ site.dbr_js_api }}simplified-barcode-reader-settings.html"  class="otherLinkColour">SimplifiedBarcodeReaderSettings</a></li>
                <li><a href="{{ site.dlr_js_api }}simplified-label-recognizer-settings.html"  class="otherLinkColour">SimplifiedLabelRecognizerSettings</a></li> -->
                <li><a href="{{ site.js_api }}capture-vision-router/auxiliary-classes/preset-template.html"  class="otherLinkColour">PresetTemplate</a></li>
            </ul>
        </li>
        <li><a>State Listener</a>
            <ul>
                <li><a href="{{ site.js_api }}capture-vision-router/capture-state-listener.html" class="otherLinkColour">CaptureStateListener</a></li>
                <li><a href="{{ site.js_api }}capture-vision-router/image-source-state-listener.html" class="otherLinkColour">ImageSourceStateListener</a></li>
            </ul>
        </li>
        <li><a>License</a>
            <ul>
                <li><a href="{{ site.js_api }}license/license-manager.html" class="otherLinkColour">LicenseManger</a></li>
            </ul>
        </li>
        <li><a>Basic Structures</a>
            <ul>
                <li><a href="{{ site.js_api }}core/basic-structures/contour.html" class="otherLinkColour">Contour</a></li>
                <li><a href="{{ site.js_api }}core/basic-structures/corner.html" class="otherLinkColour">Corner</a></li>
                <li><a href="{{ site.js_api }}core/basic-structures/edge.html" class="otherLinkColour">Edge</a></li>
                <li><a href="{{ site.js_api }}core/basic-structures/file-image-tag.html" class="otherLinkColour">FileImageTag</a></li>
                <li><a href="{{ site.js_api }}core/basic-structures/image-data.html" class="otherLinkColour">ImageData</a></li>
                <li><a href="{{ site.js_api }}core/basic-structures/image-tag.html" class="otherLinkColour">ImageTag</a></li>
                <li><a href="{{ site.js_api }}core/basic-structures/line-segment.html" class="otherLinkColour">LineSegment</a></li>
                <li><a href="{{ site.js_api }}core/basic-structures/pdf-reading-parameter.html" class="otherLinkColour">PDFReadingParameter</a></li>
                <li><a href="{{ site.js_api }}core/basic-structures/point.html" class="otherLinkColour">Point</a></li>
                <li><a href="{{ site.js_api }}core/basic-structures/quadrilateral.html" class="otherLinkColour">Quadrilateral</a></li>
                <li><a href="{{ site.js_api }}core/basic-structures/rect.html" class="otherLinkColour">Rect</a></li>
                <li><a href="{{ site.js_api }}core/basic-structures/video-frame-tag.html" class="otherLinkColour">VideoFrameTag</a></li>
            </ul>
        </li>
        <li><a>Modules</a>
            <ul>
                <li><a href="{{ site.js_api }}capture-vision-router/auxiliary-classes/capture-vision-router-module.html" class="otherLinkColour">CaptureVisionRouterModule</a></li>
                <!-- <li><a href="{{ site.dbr_js_api }}barcode-reader-module.html" class="otherLinkColour">BarcodeReaderModule</a></li>
                <li><a href="{{ site.dlr_js_api }}label-recognizer-module.html" class="otherLinkColour">LabelRecognizerModule</a></li> -->
                <li><a href="{{ site.ddn_js_api }}document-normalizer-module.html" class="otherLinkColour">DocumentNormalizerModule</a></li>
                <li><a href="{{ site.js_api }}core/basic-structures/core-module.html" class="otherLinkColour">CoreModule</a></li>
                <li><a href="{{ site.js_api }}license/license-module.html" class="otherLinkColour">LicenseModule</a></li>
                <li><a href="{{ site.js_api }}utility/utility-module.html" class="otherLinkColour">UtilityModule</a></li>
                <li><a href="{{ site.js_api }}image-processing/image-processing-module.html" class="otherLinkColour">ImageProcessingModule</a></li>
            </ul>
        </li>
        <li><a>Enumerations</a>
            <ul>
                <!-- <li><a href="{{ site.enums }}barcode-reader/qr-code-error-correction-level.html?lang=cpp"  class="otherLinkColour">QRCodeErrorCorrectionLevel</a></li>
                <li><a href="{{ site.enums }}barcode-reader/localization-mode.html?lang=cpp"  class="otherLinkColour">LocalizationMode</a></li>
                <li><a href="{{ site.enums }}barcode-reader/extended-barcode-result-type.html?lang=cpp"  class="otherLinkColour">ExtendedBarcodeResultType</a></li>
                <li><a href="{{ site.enums }}barcode-reader/deblur-mode.html?lang=cpp"  class="otherLinkColour">DeblurMode</a></li>
                <li><a href="{{ site.enums }}barcode-reader/barcode-format.html?lang=cpp"  class="otherLinkColour">BarcodeFormat</a></li> -->
                <li><a href="{{ site.enums }}capture-vision-router/capture-state.html?lang=cpp"  class="otherLinkColour">CaptureState</a></li>
                <!-- <li><a href="{{ site.enums }}code-parser/mapping-status.html?lang=cpp"  class="otherLinkColour">MappingStatus</a></li>
                <li><a href="{{ site.enums }}code-parser/validation-status.html?lang=cpp"  class="otherLinkColour">ValiadtionStatus</a></li> -->
                <li><a href="{{ site.enums }}core/buffer-overflow-protection-mode.html?lang=cpp"  class="otherLinkColour">BufferOverflowProtectionMode</a></li>
                <li><a href="{{ site.enums }}core/captured-result-item-type.html?lang=cpp"  class="otherLinkColour">CapturedResultItemType</a></li>
                <li><a href="{{ site.enums }}core/corner-type.html?lang=cpp"  class="otherLinkColour">CornerType</a></li>
                <li><a href="{{ site.enums }}core/error-code.html?lang=cpp"  class="otherLinkColour">ErrorCode</a></li>
                <li><a href="{{ site.enums }}core/grayscale-transformation-mode.html?lang=cpp"  class="otherLinkColour">GrayscaleTransformationMode</a></li>
                <li><a href="{{ site.enums }}core/image-capture-distance-mode.html?lang=cpp"  class="otherLinkColour">ImageCaptureDistanceMode</a></li>
                <li><a href="{{ site.enums }}core/image-pixel-format.html?lang=cpp"  class="otherLinkColour">ImagePixelFormat</a></li>
                <li><a href="{{ site.enums }}core/image-source-state.html?lang=cpp"  class="otherLinkColour">ImageSourceState</a></li>
                <li><a href="{{ site.enums }}core/image-tag-type.html?lang=cpp"  class="otherLinkColour">ImageTagType</a></li>
                <li><a href="{{ site.enums }}core/intermediate-result-unit-type.html?lang=cpp"  class="otherLinkColour">IntermediateResultUnitType</a></li>
                <li><a href="{{ site.enums }}core/pdf-reading-mode.html?lang=cpp"  class="otherLinkColour">PDFReadingMode</a></li>
                <li><a href="{{ site.enums }}core/region-object-element-type.html?lang=cpp"  class="otherLinkColour">RegionObjectElementType</a></li>
                <li><a href="{{ site.enums }}core/section-type.html?lang=cpp"  class="otherLinkColour">SectionType</a></li>
                <li><a href="{{ site.enums }}core/target-type.html?lang=cpp"  class="otherLinkColour">TargetType</a></li>
                <li><a href="{{ site.enums }}core/video-frame-quality.html?lang=cpp"  class="otherLinkColour">VideoFrameQuality</a></li>
                <li><a href="{{ site.enums }}core/colour-channel-usage-type.html?lang=cpp"  class="otherLinkColour">ColourChannelUsageType</a></li>
            </ul>
        </li>
    </ul>
</li>